/* vista de home */
* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0px;
  color: #000;
  text-decoration: none;
  list-style-type: none;
}
.botonera {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  flex-wrap: wrap;
  z-index: 1;
}
.botonera a {
  font-size: 30px;
  background: #FFF;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-nav {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header {
  width: 100%;
  padding: 5px;
}
.titulo {
  font-family: Pacifico,sans-serif;
  padding-left: 5px;
  text-align: left;
  display: inline;
}
.articulo {
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  width: 100%;
}
.cart {
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 20px;
  padding: 5px;
  color: #000;
  border-radius: 20px;
  background-color: #FFF;
}
.img-article {
  width: 100%;
}
.article-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
h4 {
  color: #9b9b9b;
  font-family: Manjari,sans-serif;
}
h2 {
  margin: 10px 0 10px 10px;
  font-family: 'Manjari';
}
p {
  font-family: 'Roboto Slab';
  width: 80%;
  margin: 0 auto;
}
footer {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background-color: #D3D3D3;
  padding-top: 20px;
}
.articulo-imagen {
  position: relative;
}
.pie-pagina {
  padding-top: 30px;
  background-color: #D3D3D3;
  margin-top: -5px;
}
.mapa {
  position: relative;
  overflow: hidden;
}
.footer-boton {
  font-size: 30px;
  background: #FFF;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-ul {
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
/* fin de vista de home */


/* Vista de producto */
  /* .article-add-cart {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    color: #FFF;
    border-radius: 20px;
    background-color: #000;
    margin-top: 20px;
  }

  .article-desc {
    margin-left: 10px;
  }
  h5 {
    color: #FFF;
    font-family: 'Roboto Slab';
  }
  h6 {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-family: Manjari,sans-serif;
  } */
/* fin de vista de producto */


/* vista de carrito */
/* fin de vista de carrito */


/* formulario de registro */
/* fin de formulario de registro */


/* formulario de login */
/* fin de formulario de login */


/* formulario de contacto */
/* fin de formulario de contacto */


/* vista de preguntas frecuentes */
/* fin vista de preguntas frecuentes */


/* vista de perfil de usuario */
/* fin de vista de perfil de usuario */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* TABLET */
/* vista de home */
  .articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
  }
  .articulo {
    width: 40%;
  }
  .titulo {
    font-size: 50px;
    text-align: center;
  }
  .botonera a {
    font-size: 35px;
    width: 70px;
    height: 70px;
  }
  .cart {
    font-size: 25px;
  }
  h2 {
    font-size: 35px;
  }
  .mapa {
    height: 350px;
  }
  .footer-boton {
    font-size: 45px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* fin de vista de home */


/* Vista de producto */
  /* .articulo-single {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .articulo-img-single {
    width: 49%;
  }
  .articulo-single-desc {
    width: 49%;
  }
  .article-footer {
    text-align: center;
  }
  h4 {
    margin: 30px 0 10px 30px;
  } */
/* fin de vista de producto */

/* vista de carrito */
/* fin de vista de carrito */


/* formulario de registro */
/* fin de formulario de registro */


/* formulario de login */
/* fin de formulario de login */


/* formulario de contacto */
/* fin de formulario de contacto */


/* vista de preguntas frecuentes */
/* fin vista de preguntas frecuentes */


/* vista de perfil de usuario */
/* fin de vista de perfil de usuario */
}

@media only screen and (min-width: 1024px) {
/* DESKTOP */
/* vista de home */
  .articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
  }
  .articulo {
    width: 20%;
  }
  .titulo {
    font-size: 50px;
    text-align: left;
    width: 10%;
    display: block;
  }
  .botonera  {
    display: none;
  }
  .cart {
    font-size: 25px;
  }
  h2 {
    font-size: 35px;
  }
  .mapa {
    height: 350px;
  }
  .header-nav{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  .header-nav li {
    display: block;
  }
  header {
    display: flex;
    position: fixed;
    z-index: 3;
    background-color: #FFF;
    justify-content: space-between;
  }
  main {
    margin-top: 110px;
  }
  .header-nav li a {
    font-family: Manjari;
    font-size: 30px;
  }
  .img-user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .mapa {
    height: 600px;
  }
/* fin de vista de home */


/* Vista de producto */
/* fin de vista de producto */

/* vista de carrito */
/* fin de vista de carrito */


/* formulario de registro */
/* fin de formulario de registro */


/* formulario de login */
/* fin de formulario de login */


/* formulario de contacto */
/* fin de formulario de contacto */


/* vista de preguntas frecuentes */
/* fin vista de preguntas frecuentes */


/* vista de perfil de usuario */
/* fin de vista de perfil de usuario */
}
