/* vista de home */
* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}
.botonera {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 110px;
}
.hamb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  flex-wrap: wrap;
  z-index: 3;
  margin-top: 50px;
}
.hamb a{
  font-size: 30px;
  background: #FFF;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.botonera a {
  font-size: 30px;
  background: #FFF;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
  color: #000;
}
.header-nav {
  display: none;
}
main {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
header {
  width: 100%;
  padding: 5px;
}
.titulo {
  font-family: Pacifico,sans-serif;
  padding-left: 5px;
  text-align: left;
  width: 100%;
  font-size: 35px;
}
.articulo {
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  width: 100%;
}
.cart {
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 20px;
  padding: 5px;
  color: #000;
  border-radius: 20px;
  background-color: #FFF;
}
.img-article {
  width: 100%;
}
.article-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
h4 {
  color: #9b9b9b;
  font-family: Manjari,sans-serif;
}
h2 {
  margin: 10px 0 10px 10px;
  font-family: 'Manjari';
}
h3 {
  font-family: 'Manjari';
  font-size: 35px;
}
h5 {
  font-family: 'Manjari',sans-serif;

}
.ph {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: white;
}
footer {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background-color: #D3D3D3;
  padding-top: 20px;
}
.articulo-imagen {
  position: relative;
}
.pie-pagina {
  padding-top: 30px;
  background-color: #D3D3D3;
  margin-top: -5px;
}
.mapa {
  position: relative;
  overflow: hidden;
}
.footer-boton {
  font-size: 30px;
  background: #FFF;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  border-radius: 50%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-ul {
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
input[type=checkbox] {
     transform: scale(1.5);
    margin-right: 10px;
}


/* fin de vista de home */


/* Vista de producto */
.img-producto {
  width: 100%;
}
.descripcion-producto {

}
.producto {

}
.price {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.add-cart {
  color: #FFF;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 5px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #000;
  margin-top: 20px;
}
.finish-cart {
  background-color: #4682B4;
}
.descripcion-producto a{
  color: #FFF;
}
.testq {
  display: none;
}



  /*

  .article-desc {
    margin-left: 10px;
  }
  h5 {
    color: #FFF;
    font-family: 'Roboto Slab';
  }
  h6 {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    font-family: Manjari,sans-serif;
  } */
/* fin de vista de producto


/* vista de carrito */

.item-cart {
  display: flex;
  align-items: center;
  position: relative;
}
.item-cart-img {
  width: 80px;
}
.line{
  width: 90%;
  margin: 0 auto;
}
/*

POP UP CON JAVASCRIPT

.pop-up{
  display: none;
  position: absolute;
  align-items: center;
  width: 100%;
  left: 0px;
  top: 0;
  height: 100%;
  z-index: 3;

}

.menu {
  height: 50%;
  background-color: #FFF;
  width: 100%;
}
.close {
  font-size: 40px;
  text-align: right;
}
.menu-container {
  width: 80%;
  margin: 0 auto;
}
.cantidad {
  font-size: 30px;
}
.menu-buttons {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.trash {
  font-size: 40px;
  font-family: 'Manjari';
} */


/* fin de vista de carrito */


/* formulario de registro */
.form-register {
width: 100%;
background-color: #24303c;
padding: 30px;
margin: auto;
margin-top: 15px;
border-radius: 4px;
font-family: 'calibrí';
color: white;
box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-register a {
  color: white;
  text-decoration: none;
  width: 100%;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/* fin de formulario de registro */


/* formulario de login */
.form-login {
background-color: #24303c;
padding: 30px;
margin: auto;
margin-top: 15px;
border-radius: 4px;
font-family: 'calibrí';
color: white;
box-shadow: 7px 13px 37px #000;
}
.form-login h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibrí';
  font-size: 18px;
  color: black;
}

.form-login a {
  color: white;
  text-decoration: none;
}
.form-login a:hover {
  color: white;
  text-decoration: underline;
}
.form-login .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/* fin de formulario de login */


/* formulario de contacto */
.form-cont {
background-color: #24303c;
padding: 30px;
margin: auto;
margin-top: 15px;
border-radius: 4px;
font-family: 'calibrí';
color: white;
box-shadow: 7px 13px 37px #000;
}
.form-cont h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibrí';
  font-size: 18px;
  color: black;
}
.form-cont .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form-cont .form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibrí';
  font-size: 18px;
  color: black;
}
/* fin de formulario de contacto */


/* vista de preguntas frecuentes */
.faqtitulo {
  text-align: center;
  font-family: 'calibrí';
  font-size: 30px;
}
.faqmenu {
  display: flex;
  flex-direction: column;
  font-family: 'calibrí';
  font-size: 30px;
  text-align: center;
}
.hquestions {
  text-align: center;
  margin: 30px 0;
}
#Q1 {
  text-align: center;
  margin: 30px 0;
}
#Q2 {
  text-align: center;
  margin: 30px 0;
}
#Q3 {
  text-align: center;
  margin: 30px 0;
}
#Q4 {
  text-align: center;
  margin: 30px 0;
}
#Q5 {
  text-align: center;
  margin: 30px 0;
}
#Q6 {
  text-align: center;
  margin: 30px 0;
}
#Q7 {
  text-align: center;
  margin: 30px 0;
}
#Q8 {
  text-align: center;
  margin: 30px 0;
}
.hquestions p {
  font-size: 20px;
}

/* fin vista de preguntas frecuentes */


/* vista de perfil de usuario */
.NombreC {
  text-align: center;
}
.emailU {
  text-align: center;
  color: white;
}
.perfilBasico img {
  margin: 20px;
  border-radius: 150px;
}
.perfilBasico {
  background-color: #B1AEAC;
  text-align: center;
}
.tarjetas img{
 width: 25%;
}
.tarjetas {
  text-align: center;
  border-style: dashed;
  margin: 20px 0 10px 0;
}
.boton {
   text-align: center;
   margin: 5px 0;
 }
.boton1 {
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 15px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   margin: 5px 0;
 }
 .boton1:hover{
   color: #1883ba;
   background-color: #ffffff;
}
.boton2 {
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 15px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   margin: 5px 0;
 }
 .boton2:hover{
   color: #1883ba;
   background-color: #ffffff;
}
.facturacion img {
  width: 25%;
}
.facturacion {
  text-align: center;
  border-style: dashed;
  margin: 20px 0;
}
.boton3 {
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 15px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   margin: 5px 0;
 }
 .boton3:hover{
   color: #1883ba;
   background-color: #ffffff;
}
/* fin de vista de perfil de usuario */

@media only screen and (min-width : 768px) {
/* TABLET */
/* vista de home */
  .articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
  }
  .articulo {
    width: 40%;
  }
  .titulo {
    font-size: 50px;
    text-align: center;
  }
  .hamb a{
    font-size: 35px;
    width: 70px;
    height: 70px;
  }
  .botonera {
    margin-top: 125px;
  }
  .botonera a {
    font-size: 35px;
    width: 70px;
    height: 70px;
  }
  .cart {
    font-size: 25px;
  }
  h2 {
    font-size: 35px;
  }
  .mapa {
    height: 350px;
  }
  .footer-boton {
    font-size: 45px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/* fin de vista de home */


/* Vista de producto */
.product-container {
  display: flex;
}
.descripcion-producto {
   width: 50%;
   font-size: 20px;
}
.producto {
  width: 50%;
}
  /* .articulo-single {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .articulo-img-single {
    width: 49%;
  }
  .articulo-single-desc {
    width: 49%;
  }
  .article-footer {
    text-align: center;
  }
  h4 {
    margin: 30px 0 10px 30px;
  } */
/* fin de vista de producto */

/* vista de carrito */
/* fin de vista de carrito */


/* formulario de registro */
.form-register {
width: 80%;
margin: auto;
margin-top: 15px;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {

}
.form-register a {

}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/* fin de formulario de registro */


/* formulario de login */
.form-login {
width: 70%;
}
.form-login h4 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* fin de formulario de login */


/* formulario de contacto */
/* fin de formulario de contacto */


/* vista de preguntas frecuentes */
.faqtitulo {
  text-align: center;
  font-family: 'calibrí';
  font-size: 50px;
  margin: 40px 0;
}
.faqmenu {
  font-size: 50px;
}
.hquestions {
  margin: 30px 0;
}
#Q1 {
  margin: 30px 0;
  font-size: 60px;
}
#Q2 {
  margin: 30px 0;
  font-size: 60px;
}
#Q3 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q4 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q5 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q6 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q7 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q8 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
.hquestions p {
  font-size: 36px;
}
/* fin vista de preguntas frecuentes */


/* vista de perfil de usuario */
.perfil {
  font-size: 30px;
}
.NombreC {
  text-align: center;
}
.emailU {
  text-align: center;
  color: white;
  font-size: 25px;
}
.perfilBasico img {
  margin: 20px;
  border-radius: 150px;
}
.perfilBasico {
  background-color: #B1AEAC;
  text-align: center;
}
.tarjetas img{
 width: 25%;
}
.tarjetas {
  text-align: center;
  border-style: dashed;
  margin: 20px 0 10px 0;
}
.boton {
   text-align: center;
   margin: 5px 0;
 }
.boton1 {
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 25px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   margin: 5px 0;
 }
 .boton1:hover{
   color: #1883ba;
   background-color: #ffffff;
}
.boton2 {
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 25px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   margin: 5px 0;
 }
 .boton2:hover{
   color: #1883ba;
   background-color: #ffffff;
}
.facturacion img {
  width: 25%;
}
.facturacion {
  text-align: center;
  border-style: dashed;
  margin: 20px 0;
}
.boton3 {
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 25px;
   color: #ffffff;
   background-color: #1883ba;
   border-radius: 6px;
   border: 2px solid #0016b0;
   margin: 5px 0;
 }
 .boton3:hover{
   color: #1883ba;
   background-color: #ffffff;
}
/* fin de vista de perfil de usuario */


@media only screen and (min-width: 1024px) {
/* DESKTOP */
/* vista de home */
  .articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
  }
  .articulo {
    width: 20%;
  }
  .titulo {
    font-size: 25px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamb {
    display: none;
   }
  .botonera  {
    display: none;
  }
  .cart {
    font-size: 25px;
  }
  h2 {
    font-size: 35px;
  }
  .mapa {
    height: 350px;
  }
  .header-nav{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  .header-nav li {
    display: block;
  }
  header {
    display: flex;
    position: fixed;
    z-index: 3;
    background-color: #FFF;
    justify-content: space-between;
  }
  main {
    margin-top: 110px;
  }
  .header-nav li a {
    font-family: Manjari;
    font-size: 30px;
  }
  .img-user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .mapa {
    height: 600px;
  }
  input[type=checkbox] {
       transform: scale(3);
      margin-right: 10px;
  }

/* fin de vista de home */


/* Vista de producto */
.descripcion-producto {
   font-size: 30px;
}
.price {
  font-size: 50px;
}
.add-cart {
  font-size: 30px;
}
.producto {
  width: 50%;
}
.product-container {
  display: flex;
}
.descripcion-producto {
  width: 50%;
}
/* fin de vista de producto */

/* vista de carrito */
/* fin de vista de carrito */


/* formulario de registro */
.form-register {
width: 80%;
background-color: #24303c;
padding: 60px;
margin: 0 auto;
}
.form-register h4 {
  font-size: 44px;
  margin-bottom: 40px;
}

.form-register p {
  font-size: 36px;
  line-height: 80px;
}
.form-register a {
  color: white;
  text-decoration: none;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 24px;
  color: white;
  margin: 32px 0;
  font-size: 32px;
}
/* fin de formulario de registro */


/* formulario de login */
.form-login {
  width: 70%;
}
.form-login h4 {
  font-size: 40px;
  margin-bottom: 40px;
}
.controls {
  font-size: 25px;

}
.form-login p {
  font-size: 36px;
}

.form-login .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 20px;
  color: white;
  margin: 32px 0;
  font-size: 25px;
}
/* fin de formulario de login */


/* formulario de contacto */
.form-cont {
width: 70%;
background-color: #24303c;
padding: 30px;
margin: auto;
margin-top: 15px;
border-radius: 4px;
font-family: 'calibrí';
color: white;
box-shadow: 7px 13px 37px #000;
}
.form-cont h4 {
  font-size: 40px;
  margin-bottom: 40px;
}
.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibrí';
  font-size: 18px;
  color: black;
}
.form-cont .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.form-cont .form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibrí';
  font-size: 18px;
  color: black;
}
/* fin de formulario de contacto */


/* vista de preguntas frecuentes */
.faqtitulo {
  text-align: center;
  font-family: 'calibrí';
  font-size: 50px;
  margin: 40px 0;
}
.faqmenu {
  font-size: 50px;
}
.hquestions {
  text-align: center;
  margin: 60px 0;
  overflow: hidden;
}
#Q1 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q2 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q3 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q4 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q5 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q6 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q7 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}
#Q8 {
  text-align: center;
  margin: 30px 0;
  font-size: 60px;
}

/* fin vista de preguntas frecuentes */


/* vista de perfil de usuario */
.NombreC {
  text-align: center;
}
.emailU {
  text-align: center;
}
.perfilBasico button {
  text-align: center;
}
.perfilBasico {
  background-color: #B1AEAC;
}
.profile {
  margin-top: 100px;
  }
}
/* fin de vista de perfil de usuario */
